
.imgPrincipal {
   width: 100%;
   padding: 10px;
   


}

.nombrePrincipal {

   color: rgb(196, 190, 190);
   font-family: poppins;
   font-weight: 600;
   grid-area: auto;
   font-size: 40px;
   letter-spacing: 2.2px;
   line-height: 120px;
   text-align: center;
   text-shadow: #000000 1px 3px 11px;
   text-transform: uppercase;


}
